Repository aimclub/Edulytica, pull requests merged in 2025-04, with the labels that each got.

#173 [E-172]: updated workflows actions versions (#172)
  .github/workflows/build-test.yml
  .github/workflows/slash-command-dispatch.yml
Labels: Repo

#179 [E-178]: Creating adaptive elements on pages
  src/front_end/src/components/accountModal/accountModal.jsx
  src/front_end/src/components/addFile/addFile.scss
  src/front_end/src/components/eventModal/eventModal.jsx
  src/front_end/src/components/header/header.jsx
  src/front_end/src/components/header/header.scss
  src/front_end/src/components/registrationForm/registrationForm.jsx
  src/front_end/src/components/registrationForm/registrationForm.scss
  src/front_end/src/components/resultFile/resultFile.jsx
  src/front_end/src/components/resultFile/resultFile.scss
  src/front_end/src/pages/registration/registration.scss
  src/front_end/src/utils/input/input.scss
Labels: Frontend

#182 [E-180]: Updated codecov settings
  .codecov.yml
  .github/workflows/documentation.yml
  README.md
Labels: Repo

#183 [E-141]: Add smooth transitions and animations to pages
  src/front_end/package-lock.json
  src/front_end/package.json
  src/front_end/src/components/accountModal/accountModal.jsx
  src/front_end/src/components/accountModal/accountModal.scss
  src/front_end/src/components/addFile/addFile.jsx
  src/front_end/src/components/editingProfile/editingProfile.jsx
  src/front_end/src/components/header/header.jsx
  src/front_end/src/components/profileModal/profileModal.jsx
  src/front_end/src/components/resultFile/resultFile.jsx
  src/front_end/src/components/resultFile/resultFile.scss
  src/front_end/src/pages/account/account.jsx
  src/front_end/src/pages/account/account.scss
  src/front_end/src/pages/home/home.jsx
  src/front_end/src/pages/registration/registration.jsx
  src/front_end/src/pages/registration/registration.scss
  src/front_end/src/routes/AppRoutes.jsx
Labels: Frontend

#167 [E 162]: add Qwen2.5 instruct realisation
  .gitignore
  requirements.txt
  src/LLM/IModel.py
  src/LLM/Model_instruct.py
  src/LLM/Model_pipeline.py
  src/LLM/__init__.py
  src/LLM/qwen/Qwen2_5_instruct.py
  src/LLM/qwen/Qwen2_5_instruct_pipeline.py
  src/LLM/qwen/__init__.py
  src/LLM/utils.py
  src/LLM/vikhr/Vikhr_Nemo_instruct.py
  src/LLM/vikhr/Vikhr_Nemo_instruct_pipeline.py
  src/LLM/vikhr/__init__.py
Labels: LLM

#192 [E-140]: Add an assembly of the client part of the web application to CI/CD pipelines
  .github/workflows/frontend-build.yml
Labels: Frontend

#198 [E-79] Added RAG module
  src/rag/README.md
  src/rag/__init__.py
  src/rag/config/config.yaml
  src/rag/const.py
  src/rag/core/chroma_db/__init__.py
  src/rag/core/chroma_db/chroma_manager.py
  src/rag/core/embedder/__init__.py
  src/rag/core/embedder/embedding_processor.py
  src/rag/core/event_specifics/__init__.py
  src/rag/core/event_specifics/event_finder.py
  src/rag/core/prompt_enricher/__init__.py
  src/rag/core/prompt_enricher/prompt_enricher.py
  src/rag/core/text_processor/__init__.py
  src/rag/core/text_processor/text_processor.py
  src/rag/core/utils/config_loader.py
  src/rag/data/Specification.xlsx
  src/rag/data/article_2.txt
  src/rag/docker-compose.yml
  src/rag/docs/rag_sequnce.png
  src/rag/example/example.ipynb
  src/rag/llm/LanguageModelClient.py
  src/rag/llm/__init__.py
  src/rag/pipeline.py
  src/rag/requirements.txt
  src/rag/semantic_search/ChromaSearcher.py
  src/rag/semantic_search/SemanticSearcher.py
  src/rag/semantic_search/__init__.py
  src/rag/tests/__init__.py
  src/rag/tests/run_tests.py
  src/rag/tests/test_pipeline.py
  src/rag/tests/test_prompt_enricher.py
  src/rag/tests/test_text_processor.py
  src/rag/utils/FileParser.py
  src/rag/utils/TextProcessingUtils.py
  src/rag/utils/__init__.py
Labels: RAG

#187 [E-186]: Adding data validation during authorization
  .github/workflows/frontend-build.yml
  src/front_end/babel.config.js
  src/front_end/package-lock.json
  src/front_end/package.json
  src/front_end/src/components/accountModal/accountModal.jsx
  src/front_end/src/components/addFile/addFile.jsx
  src/front_end/src/components/editingProfile/editingProfile.jsx
  src/front_end/src/components/header/header.jsx
  src/front_end/src/components/registrationForm/registrationForm.jsx
  src/front_end/src/components/registrationForm/registrationForm.scss
  src/front_end/src/components/resultFile/resultFile.jsx
  src/front_end/src/index.jsx
  src/front_end/src/store/authSlice.js
  src/front_end/src/store/store.js
  src/front_end/src/utils/input/input.jsx
  src/front_end/src/utils/validation/validationUtils.js
  src/front_end/tests/validationUtils.test.js
Labels: Frontend

#194 [E-193]: Add quantization to model's classes
  examples/LLM_use_example.py
  src/LLM/Model_instruct.py
  src/LLM/qwen/Qwen2_5_instruct.py
  src/LLM/utils.py
  src/LLM/vikhr/Vikhr_Nemo_instruct.py
Labels: LLM
